@model XctLogin.Models.User
    
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css" media="all" />
</head>
<body>
    <div> 
        <h1>Welcome @Session["Name"]!</h1>
        <a href="@Url.Action("LogOut", "Login")">LogOut</a>
        <img src="~/Content/bgimage.jpg" />
    </div>
</body>
</html>
