@model XctLogin.Models.User
    
@{
    ViewBag.Title = "Home";
       
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}


        <img src="~/Content/images/hero-image.jpeg" />
        <div class="hero-text">
            <h1 style="font-size: 50px">Welcome @Session["Name"]!</h1>
            <p></p>
            <p>This is the MVC version of</p>
            <p>my code challenge for</p>
            <p>Xcentium.</p>
            <p>Thank you for visiting!</p>
        </div>
        
  