@model XctLogin.Models.User
    
@{
    ViewBag.Title = "Index";

    Layout = "_Layout";

    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<div class="overlay">
    <div class="hero-image">
        <img src="~/Content/images/hero-image.jpeg" />
        <div class="hero-text">
            <h1 style="font-size: 50px">Welcome @Session["Name"]!</h1>
            <p></p>
            <p>This is the MVC version of</p>
            <p>my code challenge for</p>
            <p>Xcentium.</p>
            <p>Thank you for visiting!</p>
        </div>
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
    </div>