
@{
    Layout = null;
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Welcome @Session["Name"]!</h1>
        <a href="@Url.Action("LogOut", "Login")">LogOut</a>
        <img src="~/Content/bgimage.jpg" />
    </div>
</body>
</html>
